<!-- Leaving this here since I plan to implement it later.
<div class="absolute bg-black opacity-75 flex justify-center items-center h-screen w-screen m-0 left-0 top-0 z-20"
  *ngIf="isLoading"
  >
  <div class="animate-spin inline-block w-12 h-12 border-[3px] border-current border-t-transparent text-sky-600
    rounded-full dark:text-sky-500"
    role="status"
    aria-label="loading"
    ><span class="sr-only">Loading...</span>
  </div>
</div> -->

<div class="container mx-auto p-8 sm:px-0 lg:px-4">
  <h2 class="text-2xl text-slate-800 mb-4 px-4 dark:text-slate-50">
    Users
  </h2>

  <section class="m-4">
    <table
      mat-table
      [dataSource]="users"
      class="mat-elevation-z6 dark:bg-slate-500"
      >
      <!-- Data for table columns -->
      @for (item of headers; track item) {
        <ng-container [matColumnDef]="item.fieldName">
          <th mat-header-cell *matHeaderCellDef class="dark:text-slate-50">
            {{ item.headerName }}
          </th>
          <td mat-cell *matCellDef="let element" class="dark:text-slate-50">
            {{ element[item.fieldName] }}
          </td>
        </ng-container>
      }

      <!-- Actions for specific item -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="dark:text-slate-50">
          Actions
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="flex justify-between">
            <button
              mat-raised-button
              (click)="selectUser(element, 0)"
              class="flex justify-center items-center px-2 py-1
              bg-sky-500 rounded text-sky-50 hover:bg-sky-600"
              ><mat-icon class="m-0">
              edit_square
            </mat-icon>
          </button>

          <button
            mat-raised-button
            (click)="selectUser(element, 1)"
              class="flex justify-center items-center ml-4 px-2 py-1
              bg-red-500 rounded text-white hover:bg-red-600"
            ><mat-icon class="m-0">
            delete
          </mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="headerFields"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: headerFields"
    class="dark:hover:bg-slate-400"
  ></tr>
</table>
</section>
</div>
